@model IEnumerable<AliExpress.Dtos.Product.ProductViewDto>

@{
    ViewData["Title"] = "Products";
    Layout = "_navbarLayout";
}

<style>
    /* Your custom styles */
</style>

<h1>Products Page</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("DetailsProduct", "DetailsProduct", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "SfotDelete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="btn-group @Html.Raw("btn btn-success")">
    @Html.ActionLink("Next", "Next")
</div>

<div class="btn-group @Html.Raw("btn btn-success")">
    @Html.ActionLink("Previous", "Previous")
</div>

@* @* <div class="btn-group">   
    @Html.ActionLink("Previous", "Previous", null, new { @class = "btn btn-danger", style = "margin-top: 20px; margin-bottom: 20px;" })
</div>

<div class="btn-group">
    @Html.ActionLink("Next", "Next", null, new { @class = "btn btn-success", style = "margin-top: 20px; margin-bottom: 20px;" })
</div>

<div class="btn-group">
    @Html.ActionLink("Previous", "Previous", null, new { @class = "btn btn-danger", style = "margin-top: 20px; margin-bottom: 20px;" })
</div>
