@model OrderReturnDto
@{
    ViewData["Title"] = "Details";
    Layout = "_navbarLayout";
}

<h1>More Details </h1>
<div class="order-details">
    <h1>Order Details</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Delivery Method</th>
                <th>Delivery Cost</th>
                <th>Contact Phone</th>
                <th>Shipping Address</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Status</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.DeliveryMethod</td>
                <td>@Model.DeliveryMethodCost</td>
                <td>@Model.AppUser.Phone</td>
                <td>
                    @Model.AppUser.City, @Model.AppUser.Country
                </td>
                <td>
                    <ul>
                        @foreach (var item in Model.OrderItems)
                        {
                            <li>@item.ProductName</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @foreach (var item in Model.OrderItems)
                        {
                            <li>@item.Price</li>
                        }
                    </ul>
                </td>
                <td>@Model.Status</td>
                <td>@Model.Total</td>
            </tr>
        </tbody>
    </table>
</div>


