@model OrderReturnDto
@using Microsoft.Extensions.Localization
@using Noon.MVC.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer _localizer
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Edit";
    Layout = "_navbarLayout";
    var lan = "";
    var direction = "";
    var sessionData = Context.Session.GetString("Culture");
    var culture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    if (!string.IsNullOrEmpty(sessionData))
    {
        if (sessionData.StartsWith("ar"))
        {
            lan = "ar";
            direction = "rtl";
        }
        else
        {
            lan = "en";
            direction = "ltr";
        }
    }
}

<h1>More Details </h1>
<div class="order-details">
    <h1>Order Details</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>  @_localizer["Delivery Method"]</th>
                <th>  @_localizer["Delivery Cost"]</th>
                <th>  @_localizer["Contact Phone"]</th>
                <th>  @_localizer["Shipping Address"]</th>
                <th>  @_localizer["Product Name"]</th>
                <th> @_localizer["Price"]</th>
                <th> @_localizer["Status"]</th>
                <th> @_localizer["Total Amount"]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.DeliveryMethod</td>
                <td>@Model.DeliveryMethodCost</td>
                <td>@Model.AppUser.Phone</td>
                <td>
                    @Model.AppUser.City, @Model.AppUser.Country
                </td>
                <td>
                    <ul>
                        @foreach (var item in Model.OrderItems)
                        {
                            <li>@item.ProductName</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @foreach (var item in Model.OrderItems)
                        {
                            <li>@item.Price</li>
                        }
                    </ul>
                </td>
                <td>@Model.Status</td>
                <td>@Model.Total</td>
            </tr>
        </tbody>
    </table>
</div>



<form asp-action="Edit" asp-route-id="@Model.Id">
   
    
    <div class="form-group">
        <label asp-for="Status" class="control-label"></label>
        <select asp-for="Status" class="form-control">
            <option value="Pending">Pending</option>
            <option value="Payment Received">Payment Received</option>
            <option value="Payment Failed">Payment Failed</option>
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value=@_localizer["Save"] class="btn btn-primary" />
    </div>
</form>








