@model AliExpress.Dtos.Category.CategoryDto
@using Microsoft.Extensions.Localization
@using Noon.MVC.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "Edit";
    Layout = "_navbarLayout";
    var lan = "";
    var direction = "";
    var sessionData = Context.Session.GetString("Culture");
    var culture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    if (!string.IsNullOrEmpty(sessionData))
    {
        if (sessionData.StartsWith("ar"))
        {
            lan = "ar";
            direction = "rtl";
        }
        else
        {
            lan = "en";
            direction = "ltr";
        }
    }
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <button type="submit" class="btn btn-primary">@_localizer["Create"]</button>
            </div>
            <label>@_localizer["Select"]</label><br />
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        @{
                            var Functionality = Model.Specification.Contains("Functionality") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="Functionality"
                               name="Specification"
                               value="Functionality"
                        @Functionality />
                        <label for="Functionality"> @_localizer["Functionality"]</label><br />

                    </div>
                    <div class="col-sm">
                        @{
                            var Compatibility = Model.Specification.Contains("Compatibility") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="Compatibility"
                               name="Specification"
                               value="Compatibility
                               @Compatibility />
                        <label for="Compatibility"> @_localizer["Compatibility"]</label><br />

                    </div>
                    <div class="col-sm">
                        @{
                            var Language = Model.Specification.Contains("Language") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="Language"
                               name="Specification"
                               value="Language"
                        @Language />
                        <label for="Language"> @_localizer["Language"]</label><br />

                    </div>
                    <div class="col-sm">
                        @{
                            var Type = Model.Specification.Contains("Type") ? "checked" : "";
                        }
                        <input type="checkbox" id="Type" name="Specification" value="Type" @Type />
                        <label for="Type"> @_localizer["Type"]</label><br />

                    </div>
                    <div class="col-sm">
                        @{
                            var ShippingMethod = Model.Specification.Contains("ShippingMethod") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="ShippingMethod"
                               name="Specification"
                               value="ShippingMethod" 
                        @ShippingMethod />
                        <label for="ShippingMethod"> @_localizer["ShippingMethod"]</label><br />
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        @{
                            var PlaceOfOrigin = Model.Specification.Contains("PlaceOfOrigin") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="PlaceOfOrigin"
                               name="Specification"
                               value="PlaceOfOrigin"
                        @PlaceOfOrigin />
                        <label for="PlaceOfOrigin"> @_localizer["PlaceOfOrigin"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var ModelNumber = Model.Specification.Contains("ModelNumber") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="ModelNumber"
                               name="Specification"
                               value="ModelNumber" @ModelNumber />
                        <label for="ModelNumber"> @_localizer["ModelNumber"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var LensWidth = Model.Specification.Contains("LensWidth") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="LensWidth"
                               name="Specification"
                               value="LensWidth" @LensWidth />
                        <label for="LensWidth"> @_localizer["LensWidth"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var LensHeight = Model.Specification.Contains("LensHeight") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="LensHeight"
                               name="Specification"
                               value="LensHeight" @LensHeight />
                        <label for="LensHeight"> @_localizer["LensHeight"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var LensMaterial = Model.Specification.Contains("LensMaterial") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="LensMaterial"
                               name="Specification"
                               value="LensMaterial" @LensMaterial />
                        <label for="LensMaterial"> @_localizer["LensMaterial"]</label><br />
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        @{
                            var Department = Model.Specification.Contains("Department") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="Department"
                               name="Specification"
                               value="Department" @Department />
                        <label for="Department"> @_localizer["Department"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var Gender = Model.Specification.Contains("Gender") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="Gender"
                               name="Specification"
                               value="Gender" @Gender />
                        <label for="Gender"> @_localizer["Gender"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var FrameMaterial = Model.Specification.Contains("FrameMaterial") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="FrameMaterial"
                               name="Specification"
                               value="FrameMaterial" />
                        <label for="FrameMaterial"> @_localizer["Frame Material"]</label><br />
                    </div>

                    <div class="col-sm">
                        @{
                            var LensFeatures = Model.Specification.Contains("LensFeatures") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="LensFeatures"
                               name="Specification"
                               value="LensFeatures" @LensFeatures />
                        <label for="LensFeatures"> @_localizer["Lens Features"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var Style = Model.Specification.Contains("Style") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="Style"
                               name="Specification"
                               value="Style" @Style />
                        <label for="Style"> @_localizer["Style"]</label><br />
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        @{
                            var BrandName = Model.Specification.Contains("BrandName") ? "checked" : "";
                        }
                        <div class="col-sm">
                            <input type="checkbox"
                                   id="BrandName"
                                   name="Specification"
                                   value="BrandName" @BrandName />
                            <label for="BrandName"> @_localizer["Brand Name"]</label><br />
                        </div>
                        <div class="col-sm">
                            @{
                                var Certification = Model.Specification.Contains("Certification") ? "checked" : "";
                            }
                            <input type="checkbox"
                                   id="Certification"
                                   name="Specification"
                                   value="Certification" 
                            @Certification />
                            <label for="Certification"> @_localizer["Certification"]</label><br />
                        </div>
                        <div class="col-sm">
                            @{
                                var ItemType = Model.Specification.Contains("ItemType") ? "checked" : "";
                            }
                            <input type="checkbox"
                                   id="ItemType"
                                   name="Specification"
                                   value="ItemType" @ItemType />
                            <label for="ItemType"> @_localizer["Item Type"]</label><br />
                        </div>
                        <div class="col-sm">
                            @{
                                var Origin = Model.Specification.Contains("Origin") ? "checked" : "";
                            }
                            <input type="checkbox"
                                   id="Origin"
                                   name="Specification"
                                   value="Origin" @Origin />
                            <label for="Origin"> @_localizer["Origin"]</label><br />
                        </div>
                        <div class="col-sm">
                            @{
                                var EyewearType = Model.Specification.Contains("EyewearType") ? "checked" : "";
                            }
                            <input type="checkbox"
                                   id="EyewearType"
                                   name="Specification"
                                   value="EyewearType" @EyewearType />
                            <label for="EyewearType"> @_localizer["Eyewear Type"]</label><br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        @{
                            var batteryCapacityChecked = Model.Specification.Contains("BatteryCapacity") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="FrameColor"
                               name="Specification"
                               value="FrameColor" />
                        <label for="FrameColor"> @_localizer["Frame Color"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var LensColor = Model.Specification.Contains("LensColor") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="LensColor"
                               name="Specification"
                               value="LensColor" @LensColor />
                        <label for="LensColor"> @_localizer["Lens Color"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var LensAttributes = Model.Specification.Contains("LensAttributes") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="LensAttributes"
                               name="Specification"
                               value="LensAttributes" @LensAttributes />
                        <label for="LensAttributes"> @_localizer["Lens Attributes"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var UsageScope = Model.Specification.Contains("UsageScope") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="UsageScope"
                               name="Specification"
                               value="UsageScope"  @UsageScope/>
                        <label for="UsageScope"> @_localizer["Usage Scope"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var SuitableFaceShapes = Model.Specification.Contains("SuitableFaceShapes") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="SuitableFaceShapes"
                               name="Specification"
                               value="SuitableFaceShapes" @SuitableFaceShapes />
                        <label for="SuitableFaceShapes"> @_localizer["Suitable Face Shapes"]</label><br />
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        @{
                            var SunglassesStyle = Model.Specification.Contains("SunglassesStyle") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="SunglassesStyle"
                               name="Specification"
                               value="SunglassesStyle" @SunglassesStyle />
                        <label for="SunglassesStyle"> @_localizer["Sunglasses Style"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var CompanyHistory = Model.Specification.Contains("CompanyHistory") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="CompanyHistory"
                               name="Specification"
                               value="CompanyHistory" @CompanyHistory />
                        <label for="CompanyHistory"> @_localizer["Company History"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                           var Brand = Model.Specification.Contains("Brand") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="Brand"
                               name="Specification"
                               value="Brand" @Brand />
                        <label for="Brand"> @_localizer["Brand"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var CommunicationType = Model.Specification.Contains("CommunicationType") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="CommunicationType"
                               name="Specification"
                               value="CommunicationType" @CommunicationType />
                        <label for="CommunicationType"> @_localizer["Communication Type"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var SetType = Model.Specification.Contains("SetType") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="SetType"
                               name="Specification"
                               value="SetType" @SetType />
                        <label for="SetType"> @_localizer["Set Type"]</label><br />
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    @{
                        var Transmitter = Model.Specification.Contains("Transmitter") ? "checked" : "";
                    }
                    <div class="col-sm">
                        <input type="checkbox"
                               id="Transmitter"
                               name="Specification"
                               value="Transmitter" @Transmitter />
                        <label for="Transmitter"> @_localizer["Transmitter"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var Use = Model.Specification.Contains("Use") ? "checked" : "";
                        }
                        <input type="checkbox" id="Use" name="Specification" value="Use" @Use />
                        <label for="Use"> @_localizer["Use"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var ChargingTime = Model.Specification.Contains("ChargingTime") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="ChargingTime"
                               name="Specification"
                               value="ChargingTime" @ChargingTime />
                        <label for="ChargingTime"> @_localizer["Charging Time"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var WorkingHours = Model.Specification.Contains("WorkingHours") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="WorkingHours"
                               name="Specification"
                               value="WorkingHours" @WorkingHours />
                        <label for="WorkingHours"> @_localizer["Working Hours"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var TransmissionDistance = Model.Specification.Contains("TransmissionDistance") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="TransmissionDistance"
                               name="Specification"
                               value="TransmissionDistance" @TransmissionDistance />
                        <label for="TransmissionDistance"> @_localizer["Transmission Distance"]</label><br />
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        @{
                            var Features = Model.Specification.Contains("Features") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="Features"
                               name="Specification"
                               value="Features" @Features />
                        <label for="Features"> @_localizer["Features"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var Accessories = Model.Specification.Contains("Accessories") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="Accessories"
                               name="Specification"
                               value="Accessories" @Accessories />
                        <label for="Accessories"> @_localizer["Accessories"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var BandLength = Model.Specification.Contains("BandLength") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="BandLength"
                               name="Specification"
                               value="BandLength" @BandLength />
                        <label for="BandLength"> @_localizer["Band Length"]</label><br />
                    </div>
                    </div>
                    <div class="col-sm">
                        @{
                            var BandWidth = Model.Specification.Contains("BandWidth") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="BandWidth"
                               name="Specification"
                               value="BandWidth" @BandWidth />
                        <label for="BandWidth"> @_localizer["Band Width"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var Weight = Model.Specification.Contains("Weight") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="Weight"
                               name="Specification"
                               value="Weight" @Weight />
                        <label for="Weight"> @_localizer["Weight"]</label><br />
                    </div>
                </div>
            
            <div class="container">
                <div class="row">

                    <div class="col-sm">
                        @{
                            var BuiltInVoiceAssistant = Model.Specification.Contains("BuiltInVoiceAssistant") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="BuiltInVoiceAssistant"
                               name="Specification"
                               value="BuiltInVoiceAssistant" @BuiltInVoiceAssistant />
                        <label for="BuiltInVoiceAssistant"> @_localizer["Built-In Voice Assistant"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var BluetoothVersion = Model.Specification.Contains("BluetoothVersion") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="BluetoothVersion"
                               name="Specification"
                               value="BluetoothVersion" @BluetoothVersion />
                        <label for="BluetoothVersion"> @_localizer["Bluetooth Version"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var WiFi = Model.Specification.Contains("WiFi") ? "checked" : "";
                        }
                        <input type="checkbox" id="WiFi" name="Specification" value="WiFi" @WiFi />
                        <label for="WiFi">@_localizer["WiFi"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var SimCardSlot = Model.Specification.Contains("SimCardSlot") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="SimCardSlot"
                               name="Specification"
                               value="SimCardSlot" @SimCardSlot />
                        <label for="SimCardSlot"> @_localizer["Sim Card Slot"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var MeasurementScales = Model.Specification.Contains("MeasurementScales") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="MeasurementScales"
                               name="Specification"
                               value="MeasurementScales" @MeasurementScales />
                        <label for="MeasurementScales"> @_localizer["Measurement Scales"]</label><br />
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        @{
                            var ActivityTracking = Model.Specification.Contains("ActivityTracking") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="ActivityTracking"
                               name="Specification"
                               value="ActivityTracking" @ActivityTracking />
                        <label for="ActivityTracking"> @_localizer["Activity Tracking"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var Touchscreen = Model.Specification.Contains("Touchscreen") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="Touchscreen"
                               name="Specification"
                               value="Touchscreen" @Touchscreen />
                        <label for="Touchscreen"> @_localizer["Touch screen"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var AppName = Model.Specification.Contains("AppName") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="AppName"
                               name="Specification"
                               value="AppName" @AppName />
                        <label for="AppName"> @_localizer["App Name"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var ScreenMaterial = Model.Specification.Contains("ScreenMaterial") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="ScreenMaterial"
                               name="Specification"
                               value="ScreenMaterial" @ScreenMaterial />
                        <label for="ScreenMaterial"> @_localizer["Screen Material"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var CPUModel = Model.Specification.Contains("CPUModel") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="CPUModel"
                               name="Specification"
                               value="CPUModel" @CPUModel />
                        <label for="CPUModel"> @_localizer["CPU Model"]</label><br />
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        @{
                            var Detachable = Model.Specification.Contains("Detachable") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="Detachable"
                               name="Specification"
                               value="Detachable" @Detachable />
                        <label for="Detachable"> @_localizer["Detachable"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var AppDownloadAvailable = Model.Specification.Contains("AppDownloadAvailable") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="AppDownloadAvailable"
                               name="Specification"
                               value="AppDownloadAvailable" @AppDownloadAvailable />
                        <label for="AppDownloadAvailable"> @_localizer["App Download Available"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var RemovableBattery = Model.Specification.Contains("RemovableBattery") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="RemovableBattery"
                               name="Specification"
                               value="RemovableBattery" @RemovableBattery />
                        <label for="RemovableBattery"> @_localizer["Removable Battery"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var CPUManufacturer = Model.Specification.Contains("CPUManufacturer") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="CPUManufacturer"
                               name="Specification"
                               value="CPUManufacturer" @CPUManufacturer />
                        <label for="CPUManufacturer">@_localizer["CPU Manufacturer"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var Resolution = Model.Specification.Contains("Resolution") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="Resolution"
                               name="Specification"
                               value="Resolution" @Resolution />
                        <label for="Resolution"> @_localizer["Resolution"]</label><br />
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        @{
                            var ScreenSize = Model.Specification.Contains("ScreenSize") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="ScreenSize"
                               name="Specification"
                               value="ScreenSize" @ScreenSize />
                        <label for="ScreenSize"> @_localizer["Screen Size"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var MovementType = Model.Specification.Contains("MovementType") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="MovementType"
                               name="Specification"
                               value="MovementType" @MovementType />
                        <label for="MovementType"> @_localizer["Movement Type"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var AgeCategoryApp = Model.Specification.Contains("AgeCategoryApp") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="AgeCategoryApp"
                               name="Specification"
                               value="AgeCategoryApp" @AgeCategoryApp />
                        <label for="AgeCategoryApp"> @_localizer["Age Category App"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var ScreenShape = Model.Specification.Contains("ScreenShape") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="ScreenShape"
                               name="Specification"
                               value="ScreenShape" @ScreenShape  />
                        <label for="ScreenShape"> @_localizer["Screen Shape"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var CaseMaterial = Model.Specification.Contains("CaseMaterial") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="CaseMaterial"
                               name="Specification"
                               value="CaseMaterial" @CaseMaterial />
                        <label for="CaseMaterial"> @_localizer["Case Material"]</label><br />
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        @{
                            var AvailableSimCard = Model.Specification.Contains("AvailableSimCard") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="AvailableSimCard"
                               name="Specification"
                               value="AvailableSimCard" @AvailableSimCard />
                        <label for="AvailableSimCard"> @_localizer["Available Sim Card"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var Mechanism = Model.Specification.Contains("Mechanism") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="Mechanism"
                               name="Specification"
                               value="Mechanism" @Mechanism />
                        <label for="Mechanism"> @_localizer["Mechanism"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var MultiFace = Model.Specification.Contains("MultiFace") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="MultiFace"
                               name="Specification"
                               value="MultiFace" @MultiFace />
                        <label for="MultiFace"> @_localizer["Multi Face"]</label><br />
                    </div>

                    <div class="col-sm">
                        @{
                            var StrapMaterial = Model.Specification.Contains("StrapMaterial") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="StrapMaterial"
                               name="Specification"
                               value="StrapMaterial" @StrapMaterial />
                        <label for="StrapMaterial"> @_localizer["Strap Material"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var WaterproofRating = Model.Specification.Contains("WaterproofRating") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="WaterproofRating"
                               name="Specification"
                               value="WaterproofRating" @WaterproofRating />
                        <label for="WaterproofRating"> @_localizer["Waterproof Rating"]</label><br />
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        @{
                            var RearCamera = Model.Specification.Contains("RearCamera") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="RearCamera"
                               name="Specification"
                               value="RearCamera" />
                        <label for="RearCamera"> @_localizer["Rear Camera"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var RAM = Model.Specification.Contains("RAM") ? "checked" : "";
                        }
                        <input type="checkbox" id="RAM" name="Specification" value="RAM" @RAM />
                        <label for="RAM"> @_localizer["RAM"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var GPS = Model.Specification.Contains("GPS") ? "checked" : "";
                        }
                        <input type="checkbox" id="GPS" name="Specification" value="GPS" @GPS />
                        <label for="GPS"> @_localizer["GPS"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var NetworkMode = Model.Specification.Contains("NetworkMode") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="NetworkMode"
                               name="Specification"
                               value="NetworkMode" @NetworkMode />
                        <label for="NetworkMode"> @_localizer["Network Mode"]</label><br />
                    </div>
                    <div class="col-sm">
                        @{
                            var BatteryCapacity = Model.Specification.Contains("BatteryCapacity") ? "checked" : "";
                        }
                        <input type="checkbox"
                               id="BatteryCapacity"
                               name="Specification"
                               value="BatteryCapacity" @BatteryCapacity />
                        <label for="BatteryCapacity"> @_localizer["Battery Capacity"]</label><br />
                    </div>
                </div>
            </div>



            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
